[submodule "gc"]
	path = gc
	url = https://github.com/shenango/boehmGC.git
[submodule "parsec"]
	path = parsec
	url = https://github.com/shenango/parsec.git
[submodule "memcached"]
	path = memcached
	url = https://github.com/estuhr1206/memcached.git
	branch = coresync
[submodule "caladan"]
	path = caladan
	url = https://github.com/stephenl99/caladan-overload-control.git
	branch = exact-version
[submodule "silo"]
	path = silo
	url = https://github.com/stephenl99/silo.git
	branch = caladan
